<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mettwurst.skatdb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >

            <!-- android:label="@string/title_activity_main_menu" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SkatListActivity"
            android:parentActivityName=".MainMenuActivity" >
        </activity>
        <activity
            android:name=".AddSkatrundeActivity"
            android:label="@string/title_activity_add_skatspiel"
            android:parentActivityName=".SkatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.SkatListActivity" />
        </activity>
        <activity
            android:name=".AddAnsageActivity"
            android:label="@string/title_activity_add_ansage"
            android:parentActivityName=".SkatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.SkatListActivity" />
        </activity>
        <activity
            android:name=".NeuesSpielActivity"
            android:label="@string/title_activity_neues_spiel"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.MainMenuActivity" />
        </activity>
        <activity
            android:name=".InspectSkatrundeActivity"
            android:label="@string/title_activity_inspect_skatrunde"
            android:parentActivityName=".SkatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.SkatListActivity" />
        </activity>
        <activity
            android:name=".LoadGameActivity"
            android:label="@string/title_activity_load_game"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.MainMenuActivity" />
        </activity>
        <activity
            android:name=".X1Spiel"
            android:label="@string/title_activity_x1_spiel"
            android:parentActivityName=".SkatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.SkatListActivity" />
        </activity>
        <activity
            android:name=".X2Solist"
            android:label="@string/title_activity_x2_solist"
            android:parentActivityName=".X1Spiel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.X1Spiel" />
        </activity>
        <activity
            android:name=".X3Ansagen"
            android:label="@string/title_activity_x3_ansagen"
            android:parentActivityName=".X2Solist" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.X2Solist" />
        </activity>
        <activity
            android:name=".X4AuswertungBuben"
            android:label="@string/title_activity_x4_auswertung"
            android:parentActivityName=".X3Ansagen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.X3Ansagen" />
        </activity>
        <activity
            android:name=".X5AuswertungAusgang"
            android:label="@string/title_activity_x5_auswertung_ausgang"
            android:parentActivityName=".X4AuswertungBuben" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.X4AuswertungBuben" />
        </activity>
        <activity
            android:name=".X6AuswertungSchneider"
            android:label="@string/title_activity_x6_auswertung_schneider"
            android:parentActivityName=".X5AuswertungAusgang" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.X5AuswertungAusgang" />
        </activity>
        <activity
            android:name=".Auswertung"
            android:label="@string/title_activity_auswertung"
            android:parentActivityName=".X6AuswertungSchneider" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.X6AuswertungSchneider" />
        </activity>
        <activity
            android:name=".X7Auswertung"
            android:label="@string/title_activity_x7_auswertung"
            android:parentActivityName=".X6AuswertungSchneider" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mettwurst.skatdb.X6AuswertungSchneider" />
        </activity>
    </application>

</manifest>
